html {
    background-color: pink;
}

p {
    color:slateblue;
}

div {
    color: palevioletred;
}

div span {
    color: purple;
}

p.banana {
    color: yellow;
}

p.spoiled {
    color: brown;
}

span {
    color: tomato;
    font-size: 20px;
}

#portfolio li {
    color: green;
}

section#portfolio ul li.port {
    color: black;
}

#portfolio li {
    color: green;
}